.h1{
  background-color: lightgreen;
  color: darkgreen;
  border: 3px solid greenyellow;
}
.h2{
  background-color: lightblue;
  color: darkblue;
  border: 3px solid cornflowerblue;
}
.h3{
  background-color: lightsalmon;
  color: red;
  border: 3px solid darkred;
}
.css{
  border-radius: 50%;
}
