body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #272727;
}
a:hover {
  color: darkorange;
}
a {
  text-decoration: none;
  width: 160px;
  height: 60px;
  color: gold;
  border: 5px solid gold;
  text-align: center;
  line-height: 60px;
  font-size: 25px;
  position: relative;
  transition: all 0.2s;
}
a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: gold;
  z-index: -1;
  opacity: 0;
  transition: all 0.8s;
}
a:hover:before {
  opacity: 1;
  transform: rotate(15deg);
}
a span {
  color: transparent;
  position: relative;
}
a span:before {
  content: "B";
  position: absolute;
  color: gold;
  transition: all 0.2s;
}
a:hover span:before {
  color: darkorange;
  font-size: 60px;
  transform: translate(-65%, -10%) rotate(360deg);
}
